GAME_ID=90
GAME_NAME=cstrike
GAME_PORT=27015
GAME_PARAMS=+maxplayers 32 +map de_dust
UID=1000
GID=1000
HOST_STEAMCMD_FOLDER=/data/gameservers/cstrike16/steamcmd
HOST_GAME_SERVER_FILES=/data/gameservers/cstrike16/serverfiles
SERVER_CFG=/data/gameservers/configs/cstrike16/default.cfg
GAMESERVER_IP=192.168.178.232