GAME_ID=90
GAME_NAME=cstrike
GAME_PORT=27015
# This command is execute inside the container
GAME_CMD=hlds_run -game cstrike -console +maxplayers 12 +map de_dust
GAME_HLDS_EXTRA=app_set_config 90 mod cstrike
UID=1000
GID=1000
HOST_STEAMCMD_FOLDER=/data/gameservers/cstrike16/steamcmd
HOST_GAME_SERVER_FILES=/data/gameservers/cstrike16/serverfiles
SERVER_CFG=/data/gameservers/configs/cstrike16/default.cfg
GAMESERVER_IP=192.168.178.232